/.idea
/.vscode
/node_modules
/images
/config
/database
/resources/lang
/resources/views
/src
/tests
/vendor
.editorconfig
.gitignore
.gitattributes
.scrutinizer.yml
.styleci.yml
.travis.yml
composer.json
composer.lock
CHANGELOG.md
phpunit.xml.dist
